.ui.device-nav-actions {
    display: flex;
    justify-content: space-between;
    padding: var(--space-xl) var(--space-xxl)
}

.ui.device-nav {
    display: flex;
    gap: 0.25rem;
}

.ui.device-nav-button {
    appearance: none;
    min-width: 1.75rem;
    height: 1.75rem;
    padding: var(--space-sm);
    background-color: var(--color-web-unifi-neutral-00);
    border-radius: var(--border-radius-sm);
    border: none;
    box-shadow: 0 0 0.0625rem 0 rgba(0, 0, 0, 0.06), 0 0.5rem 1.5rem 0 rgba(0, 0, 0, 0.08);
}

.ui.device-nav-button:hover {
    cursor: pointer;
    background-color: var(--color-web-unifi-neutral-02);
}

.ui.device-info {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
    justify-content: center;
    max-width: 48em;
    padding: 0 var(--space-xxl);
    margin: var(--space-xl) auto 0;
}

.ui.device-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-web-unifi-neutral-02);
}

.ui.device-data {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.ui.device-data-main {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.ui.device-title {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
}

.ui.device-feature {
    font-size: var(--font-size-md);
    color: var(--color-web-unifi-text-3)
}

.ui.device-data-specs {
    display: flex;
    flex-direction: column;
}

.ui.device-data-spec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.375rem 0;
    font-size: var(--font-size-md);
}




@media screen and (min-width: 37.5rem) {
    .ui.device-info {
        grid-template-columns: 2fr 3fr;
    }
}
