.ui.device-info {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
    justify-content: center;
    max-width: 48em;
    padding: 0 var(--space-xxl);
    margin: var(--space-xl) auto 0;
}

.ui.device-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-web-unifi-neutral-02);
}



@media screen and (min-width: 37.5rem) {
    .ui.device-info {
        grid-template-columns: 2fr 3fr;
    }
}
