.ui.devices-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding-top: var(--space-xl);
}

@media screen and (min-width: 26.875rem){
    .ui.devices-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 37.5rem){
    .ui.devices-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 60rem){
    .ui.devices-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 80rem){
    .ui.devices-grid {
        grid-template-columns: repeat(5, 1fr);
    }
}
