.row {
    display: flex;
    padding: 3rem;
    gap: 4rem;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.min-width-500 {
    min-width: 31.25rem;
}

.max-height-150 {
    max-height: 9.375rem;
    overflow-y:scroll
}
