:root {
    --color-web-unifi-blue-06: #006FFF;

    --color-web-unifi-neutral-10: #373737;
    --color-web-unifi-neutral-08: #838691;
    --color-web-unifi-neutral-06: #B6B9C4;
    --color-web-unifi-neutral-04: #EDEDF0;
    --color-web-unifi-neutral-02: #F6F7F8;
    --color-web-unifi-neutral-01: #F9FAFA;
    --color-web-unifi-neutral-00: #FFFFFF;

    --color-web-unifi-text-1: #000000D9;
    --color-web-unifi-text-2: #000000A6;
    --color-web-unifi-text-3: #8C8C8C;

    --border-radius-md: 0.5rem;
    --border-radius-sm: 0.25rem;

    --space-xxl: 2rem;
    --space-md: 0.5rem;
    --space-sm: 0.25rem;
    --space-xs: 0.125rem;

    --font-size-sm: 0.75rem;

    --font-weight-bold: bold;
    --font-weight-normal: normal;
}

html,
body,
div,
span,
p,
a {
    box-sizing: border-box;
}

html, body {
    background-color: var(--color-web-unifi-neutral-00);
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: var(--color-web-unifi-text-1);
}

a:visited,
a:hover,
a:active {
    color: inherit;
}

.ui.text-bold {
    font-weight: bold;
}

.ui.text-small {
    font-size: var(--font-size-sm);
}

.ui.text-quiet {
    color: var(--color-web-unifi-text-3);
}
